<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>



  <%= javascript_include_tag 'jquery' %>
<%= javascript_include_tag 'jquery_ujs' %>

  <%= javascript_include_tag 'turbolinks' %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
